<!-- <nb-auth-block>
  <h2 class="title">Forgot Password</h2>
  <small class="form-text sub-title">Enter your email adress and we’ll send a link to reset your password</small>
  <form (ngSubmit)="requestPass()" #requestPassForm="ngForm">
    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>Hooray!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Enter your email address</label>
      <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
             class="form-control" placeholder="Email address" pattern=".+@.+\..+"
             [class.form-control-danger]="email.invalid && email.touched"
             [required]="validation.email.required"
             autofocus>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        Email is required!
      </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.touched && email.errors?.pattern">
        Email should be the real one!
      </small>
    </div>
    <button [disabled]="submitted || !requestPassForm.form.valid" class="btn btn-hero-success btn-block"
            [class.btn-pulse]="submitted">
      Request password
    </button>
  </form>
  <div class="links col-sm-12">
    <small class="form-text">
      Already have an account? <a routerLink="../login"><strong>Sign In</strong></a>
    </small>
    <small class="form-text">
      <a routerLink="../register"><strong>Sign Up</strong></a>
    </small>
  </div>
</nb-auth-block> -->


<h1 id="title" class="title">Recordar contraseña</h1>
<p class="sub-title">Ingresa tú correo electrónico y te enviaremos un enlace para recuperar tu contraseña</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Ups!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Excelente!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Ingresa tú correo electrónico:</label>
    <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+\..+"
      placeholder="Correo electrónico" autofocus fullWidth
      [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        El correo es requerido!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        El formato del correo no es valido!
      </p>
    </ng-container>
  </div>

  <button nbButton fullWidth status="success" [disabled]="submitted || !requestPassForm.valid"
    [class.btn-pulse]="submitted">
    Solicitar restauración
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Volver a ingreso</a></p>
  <p><a routerLink="../register" class="text-link">Registro</a></p>
</section>
